body {
    font-family: cursive; /* einheitliche Schriftart */
    background-color: #f7f7f7; /* Hintergrundfarbe */
}

.ausgabe {
    max-width: 100%;
    margin: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Schatten-Effekt*/
}

.ausgabelogo {
    display: flex; 
    justify-content: center; /* horizontal zentrieren */
    align-items: center; /*vertikal zentrieren */
}

.ausgabelogo img {
    width: 100%; /* Responsivität des Bildes sicherstellen */
    max-width: 250px;
}

h1 {
    text-align: center; /* Überschrift zentrieren */
    color: #333; 
    margin-bottom: 20px;
}

h2 {
    margin-left: 20px;
}

/* Tabellenstil */
table {
    width: 100%; /* Volle Breite */
    border-collapse: collapse; /* Rand entfernen */
    margin-top: 20px; /* Oberen Abstand setzen */
    font-size: 20px; /* Schriftgröße */
}

th, td {
    padding: 12px; 
    text-align: left; /* Text linksbündig */
    border-bottom: 1px solid #ddd; /* Untere Trennlinie */
}

th {
    background-color: #f2f2f2; /* Hintergrundfarbe */
}

/* Small-Screens */
@media screen and (max-width: 800px) {
    .ausgabe {
        padding: 10px;
    }

    h1 {
        font-size: 18px;
    }

    table {
        font-size: 14px;
    }
}
